.buttons{
 background-color: rgb(42, 211, 8);
 color: white;
 padding: 10px;
 border-radius: 10px;
 border: none;
 margin-top: 15px;

}

.div{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 20%;
}